.message-item {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 10px 15px;
}

.message-item.other {
  align-items: flex-start; /* Mensajes del otro usuario a la izquierda */
}

.message-item.me {
  margin-left: auto; /* Mueve los mensajes hacia la derecha */
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end; /* Mensajes del usuario actual a la derecha */
  align-self: flex-end; /* Alinear el contenedor del mensaje al lado derecho del chat */
}

.message-content {
  background-color: #e0e0e0; /* Color para los mensajes del otro usuario */
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
  margin-bottom: 5px;
}

.message-item.me .message-content {
  background-color: #007bff; /* Cambia a tu color preferido para tus mensajes */
  color: #ffffff;
}

.message-timestamp {
  font-size: 0.8em;
  margin-top: 5px;
}

.message-item.me .message-timestamp {
  align-self: flex-start; /* Alinear a la izquierda la hora de los mensajes del usuario actual */
}

.message-item.other .message-timestamp {
  align-self: flex-end; /* Alinear a la derecha la hora de los mensajes del otro usuario */
}
